<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户编辑</title>
    <link href="../../../css/default.css" rel="stylesheet" type="text/css">
    <link href="../../../css/style/green.css" rel="stylesheet" type="text/css" id='link'>
    <style>
        input[type=button] {
            display: block;
            width: 100%;
            height: 60px;
            margin-top: 20px;
            border-radius: 3px;
            color: #ffffff;
            font-size: 25px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
            text-shadow: 1px 1px 1px white, -1px -1px 1px black;
            cursor:pointer;
        }
            input[type=button]:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 24px 80px 0 rgba(0, 0, 0, 0.3);
                text-shadow: 1px 1px 1px black, -1px -1px 1px white;
            }
        @keyframes myfirst {
            from {
                background: red;
            }

            to {
                background: #D1D1D1;
            }
        }

        @-webkit-keyframes myfirst /* Safari and Chrome */
        {
            from {
                background: red;
            }

            to {
                background: #D1D1D1;
            }
        }
    </style>
</head>
<body>
    <table class="formtable" style="width:100%;" >
        <tbody>
            <tr>
                <td style="width:70%;padding-bottom:10px;vertical-align:top;">
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="main" style="width: 695px;height:530px;"></div>



                    <div id="root1" v-show="mode=='procing'" style="width:100%;">
                        <span style=" font-size: 16px;font-weight: 700;">{{statue=='querying'?'正在查询相关信息，请等待......':'机动车所有人或驾驶人信息('+driverandvehicle.pdxx.BRZJHM+'/'+driverandvehicle.pdxx.BRNAME+')'}}</span>
                        <!--tablebox start-->
                        <div v-show="statue=='completed'" class="tablebox" style="padding-top:0px;margin-bottom:30px;">
                            <table>
                                <thead>
                                <th class="num"></th>
                                <th>信息类型</th>
                                <th style="width:70%;">基本信息</th>
                                <th>状态</th>
                                </thead>

                                <tbody>
                                    <template v-if="driverandvehicle.vehicles1!=null&&driverandvehicle.vehicles1.length>0">
                                        <tr v-for="(item,index) in driverandvehicle.vehicles1">
                                            <td class="tdnum">{{index+1}}</td>
                                            <td>机动车</td>
                                            <td><a href="#">{{item.HPHM}}（{{item.HPZL}}）;检验有效期止：{{item.YXQZ==undefined?"":item.YXQZ.substring(0,10)}}</a></td>
                                            <td>{{item.ZT}}</td>
                                        </tr>
                                    </template>
                                    <template v-else>
                                        <tr>
                                            <td class="tdnum">1</td>
                                            <td>机动车</td>
                                            <td colspan="2">没有所属机动车信息</td>
                                        </tr>
                                    </template>
                                    <tr v-if="driverandvehicle.driver1!=null">
                                        <td class="tdnum">{{driverandvehicle.vehicles1==null?1:(driverandvehicle.vehicles1.length+1)}}</td>
                                        <td>驾驶人</td>
                                        <td><a href="#">初次领证日期:{{driverandvehicle.driver1.CCLZRQ==undefined?"":driverandvehicle.driver1.CCLZRQ.substring(0,10)}};有效期止：{{driverandvehicle.driver1.YXQZ==undefined?"":driverandvehicle.driver1.YXQZ.substring(0,10)}}；积分：{{driverandvehicle.driver1.LJJF}}</a></td>
                                        <td>{{driverandvehicle.driver1.ZT}}</td>
                                    </tr>
                                    <tr v-else>
                                        <td class="tdnum">{{driverandvehicle.vehicles1==null?1:(driverandvehicle.vehicles1.length+1)}}</td>
                                        <td>驾驶人</td>
                                        <td colspan="2">不是有效驾驶人</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <!--tablebox end-->
                        <span v-if="statue=='completed'&&driverandvehicle.pdxx.BLLX=='代理人业务'" style=" font-size: 16px;font-weight: 700;">代理人信息（{{driverandvehicle.pdxx.DLRZJHM+'/'+driverandvehicle.pdxx.DLRNAME}}）</span>
                        <!--tablebox start-->
                        <div v-if="statue=='completed'&&driverandvehicle.pdxx.BLLX=='代理人业务'" class="tablebox" style="padding-top:0px;">
                            <table>
                                <thead>
                                <th class="num"></th>
                                <th>信息类型</th>
                                <th style="width:60%;">基本信息</th>
                                <th>状态</th>
                                </thead>

                                <tbody>
                                    <template v-if="driverandvehicle.vehicles2!=null&&driverandvehicle.vehicles2.length>0">
                                        <tr v-for="(item,index) in driverandvehicle.vehicles2">
                                            <td class="tdnum">{{index+1}}</td>
                                            <td>机动车</td>
                                            <td><a href="#">{{item.HPHM}}（{{item.HPZL}}）;检验有效期止：{{item.YXQZ==undefined?"":item.YXQZ.substring(0,10)}}</a></td>
                                            <td>{{item.ZT}}</td>
                                        </tr>
                                    </template>
                                    <template v-else>
                                        <tr>
                                            <td class="tdnum">1</td>
                                            <td>机动车</td>
                                            <td colspan="2">没有所属机动车信息</td>
                                        </tr>
                                    </template>
                                    <tr v-if="driverandvehicle.driver2!=null">
                                        <td class="tdnum">{{driverandvehicle.vehicles2==null?1:(driverandvehicle.vehicles2.length+1)}}</td>
                                        <td>驾驶人</td>
                                        <td><a href="#">初次领证日期:{{driverandvehicle.driver2.CCLZRQ==undefined?"":driverandvehicle.driver2.CCLZRQ.substring(0,10)}};有效期止：{{driverandvehicle.driver2.YXQZ==undefined?"":driverandvehicle.driver2.YXQZ.substring(0,10)}}；积分：{{driverandvehicle.driver2.LJJF}}</a></td>
                                        <td>{{driverandvehicle.driver2.ZT}}</td>
                                    </tr>
                                    <tr v-else>
                                        <td class="tdnum">{{driverandvehicle.vehicles2==null?1:(driverandvehicle.vehicles2.length+1)}}</td>
                                        <td>驾驶人</td>
                                        <td colspan="2">不是有效驾驶人</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <!--tablebox end-->
                    </div>
                    
                </td>
                <td style="vertical-align: top;padding: 5px;width:30%;">
                    <div id="root">
                        <div v-bind:style="{background:customcolor}" style="line-height: 60px;border-radius: 5px;color: #ffffff;font-size: 50px;text-align: center;">
                            {{isck?ckmc:"未授权"}}
                        </div>
                        <div v-show="mode=='waiting'">
                            <div style="display: flex; flex-direction: column;justify-content: center;background-color:#D1D1D1;height: 200px;margin-top: 10px;font-size: 60px;text-align: center;">
                                <span style="font-size:18px;display:block;margin-bottom: 18px;">最新号码</span>
                                {{newno}}
                            </div>
                            <div>
                                <input type="button" value="顺序叫号" :disabled="!isck||newno=='无业务'" v-bind:style="{background:(isck&&newno!='无业务')?newcolor:'#D1D1D1'}" @click="btnjh">
                                <input type="button" value="特    呼" :disabled="!isck||newno=='无业务'" v-bind:style="{background:(isck&&newno!='无业务')?newcolor:'#D1D1D1'}" @click="btnth">
                            </div>
                        </div>
                        <div v-show="mode=='procing'">
                            <div style="display: flex; flex-direction: column;justify-content: center;background-color:#D1D1D1;height: 200px;margin-top: 10px;font-size: 60px;text-align: center;"   v-bind:style="{'animation':(second>PJYWBLSJBZXZ)?'myfirst 1s infinite':''}">
                                <span style="font-size:18px;display:block;margin-bottom: 18px;">正在办理</span>
                                {{currno}}
                                <span style="font-size:25px;display:block;margin-top: 18px;">已进行<span style="font-size:25px;color:red">{{worktime}}</span></span>
                            </div>
                            <div>
                                <input type="button" value="办   结" v-bind:style="{background:newcolor}" @click="btnbj">
                                <input type="button" value="空   号" v-bind:style="{background:newcolor}" @click="btnkh">
                                <input type="button" value="退   号" v-bind:style="{background:newcolor}" @click="btntuih">

                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    
</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/common.js"></script>
<script type="text/javascript" src="../../../js/skin.js"></script>
<script type="text/javascript" src="../../../js/echarts.min.js"></script>
<script type="text/javascript" src="../../../layer/layer.js"></script>
<script type="text/javascript" src="../../../js/vue.min.js"></script>
<script type="text/javascript" src="pdjh.js"></script>

</html>

