<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.68.135.200</MSDeployServiceURL>
    <DeployIisAppPath>cgsjgpt</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EntitiesDtgl" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cgsjgpt.Models.EntitiesDtgl, cgsjgpt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesHmd" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cgsjgpt.Models.EntitiesHmd, cgsjgpt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesSys1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cgsjgpt.Models.EntitiesSys1, cgsjgpt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cgsjgpt.Models.Entities, cgsjgpt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesTrff" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cgsjgpt.Models.EntitiesTrff, cgsjgpt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesXfyw" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cgsjgpt.Models.EntitiesXfyw, cgsjgpt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OracleDbContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=oracle_user;PASSWORD=oracle_user_password;DATA SOURCE=oracle" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OracleDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesTrff2" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=TRFF_PZH;STATEMENT CACHE SIZE=10;PASSWORD=v41125918;DATA SOURCE=10.64.16.148:1521/orcl" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntitiesTrff2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Trff2Model.csdl|res://*/Models.Trff2Model.ssdl|res://*/Models.Trff2Model.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.64.16.148:1521/orcl;PASSWORD=v41125918;STATEMENT CACHE SIZE=10;USER ID=TRFF_PZH&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities_wztc" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cgsjgpt.Models.Entities_wztc, cgsjgpt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesDtgl-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesHmd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesSys1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesTrff-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesTrff2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesXfyw-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities_wztc-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OracleDbContext-Web.config Connection String" />
  </ItemGroup>
</Project>